.team-page{
    .legend{
        background-image: url("../public/images/team/team3.jpg");
        background-size: cover;
        background-position: center center;
        .title, .subtitle {
            font-family: $balooFont;
            color: $blackColor !important;
        }
    }
    .event {
        font-size: 70px !important;
    }
    @media only screen and (max-width: 768px) {
        .event {
            font-size: 55px !important;
        }
        .who {
            font-size: 30px !important;
        }
    }
}