.team-page{
    .legend{
        // background: url("./resources/images/bg_image.png") center center no-repeat;
        // background: url("../public/images/team/team.jpg") center center no-repeat;
        background-image: url("../public/images/team/team.jpg");
        background-size: cover;
        background-position: center center;
        .title, .subtitle {
            font-family: $balooFont;
            color: $blackColor !important;
        }
    }
    .member-card{
        box-shadow: none;
    }
    .card-content{
        * {
            color: $whiteColor !important;
        }
    }
}