.sponsors-page {
    .title {
        font-family: $balooFont;
        &.is-green {
            color: $greenColor;
        }
        &.is-number {
            font-size: 150px;
        }
    }
    .aus17 {
        color: $greenColor;
    }
    .aus18 {
        color: $pinkColor;
    }
}

@media only screen and (max-width: 768px) {
    .is-number {
        font-size: 100px !important;
    }
}