.sponsors-page {
    .message-body {
        min-height: 500px;
        .benefit-list {
            list-style-type: circle;
        }
        .price {
            text-align: right;
        }
    }
}