.about-page {
    .hero-body{
        &.ted{
            background: url("./resources/images/bitmap.png") right center no-repeat;
        }
    }
    .section{
        .title{
            font-family: $balooFont;
        }
        .subtitle{
            font-size: 1rem;
        }
    }
    .section-header{
        .title{
            font-family: $balooFont;
        }
    }
    .ted-image{
        content: url("./resources/images/bitmap.png");
    }

    .counter{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        background-color: $greenColor;
        margin-bottom: 15px;
        .counter-item{
            margin: 1rem 2rem;
            text-align: center;
            .counter-number{
                display: block;
                color: #463853;
                font-weight: 500;
                font-size: 3.375rem;
                line-height: 1;
            }
            .counter-label{
                margin-top: 1rem;
                display: block;
                font-size: 1rem;
                line-height: 1rem;
            }
        }

    }
}