.countdown {
    background-color: $pinkColorTransp7;
    align-items: center;
    color: $whiteColor;

    .card-footer{
        border-top: none;
    }
    .card-footer-item{
        text-align: center;
        width: 70px;
        font-weight: 700;
    }
    .remaining-days {
        font-size: 10vw !important;
        font-family: $balooFont;
        color: $pinkColor;
    }
    .rem-legend {
        font-size: 7vw;
    }
}