
.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  .event-container {
    width: 25%;
    margin-left: 5%;
    height: 350px;
    background-color: blue;
  }
}