.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  .event-container {
    width: 25%;
    margin-left: 5%;
    .event-details {
      background-color: aliceblue;
      width: inherit;
      .content {
      }
      .base {
        display: flex;
        .left-side, .righ-side {
          width: 50%;
        }
      }
    }
  }
}