.td-navbar {
    .navbar-start {
        width: 100% !important;
        justify-content: center;
        .navbar-item {
            a {
                color: $blackColor;
                &:hover {
                    color: $blackColorTransp7;
                }
            }
        }
    }
}