.person-card{
    box-shadow: none;
}
.card {
    background-color: rgba($color: $whiteColor, $alpha: 0) !important;
}
.card-content{
    * {
        color: rgba($color: $whiteColor, $alpha: 1.0) !important;
    }
}