.section-title {
    &.hero{
        padding-top: 60px;
        * {
            color: $whiteColor;
        }
    }

    &.pink{
        background-color: $pinkColor;
    }
    &.green{
        background-color: $greenColor;
    }
}