.section-subtitle{
    background: rgb(83,227,215);
    background: -moz-linear-gradient(45deg, rgba(83,227,215,1) 0%, rgba(20,125,117,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(83,227,215,1) 0%, rgba(20,125,117,1) 100%);
    background: linear-gradient(45deg, rgba(83,227,215,1) 0%, rgba(20,125,117,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#53e3d7",endColorstr="#147d75",GradientType=1);
}