.home-page {
	 //margin-top: 70px;
	.hero-image {
		background-image: url("../public/images/home/landingpage.jpg");
        background-size: cover;
		background-position: center center;
		height: 100vh;
	}
	.container-desktop {
		.title {
			margin-bottom: 1rem;
		}
		.day-number {
			font-size: 8vw;
			font-family: $balooFont;
			color: #FB3858;
			font-weight: 500;
		}
		.days {
			font-size: 3vw;
			font-family: $balooFont;
			color: $blackColor;
		}
		.name {
			font-size: 7vw;
			font-family: $balooFont;
			color: #171717;
			font-weight: 100;
		}
		.year {
			font-size: 7vw;
			font-family: $balooFont;
			color: #73D6FF;
		}
	}
	.container-mobile{
		.name {
			color: #171717;
			font-weight: 100;
		}
		.name, .year {
			text-align: center;
		}
		.title{
			font-family: $balooFont;
			color: $blackColor;
            font-size: 10vw;
		}
		.subtitle {
			font-family: $balooFont;
			color: $pinkColor;
			font-size: 10vw;
		}
		.year {
			font-family: $balooFont;
			color: #73D6FF;
			font-size: 12vw !important;
		}
        .day-number {
			color: #FB3858;
			font-weight: 500;
		}
		.days {
			font-size: 4vw;
			color: $blackColor;
		}
	}
	.content-container {
		min-height: 100vh;
		.columns {
			margin-bottom: 0 !important;
			.column-style{
				height: 100vh;
				display: flex;
				align-items: center;
				&.version {
					background-color: $blackColor;
					h1, h2 {
						color: $whiteColor;
						font-family: $balooFont;
					}
					h1 {
						margin-bottom: 0;
						font-size: 120px !important;
						span{
							font-weight: 100;
						}
					}
					.content-text {
						padding: 2vw 6vw;
						color: $whiteColor;
					}
				}
				&.ted-tedx {
					background-color: $whiteColor;
					h1 {
						color: $blackColor;
						font-family: $balooFont;
                      margin-bottom: 0;
                    }
					.content-text {
						padding: 2vw 6vw;
						color: $blackColor;
					}
				}
				&.tedxumsa {
					background-color: $greenColor;
					h1 {
						color: $blackColor;
						font-family: $balooFont;
                        margin-bottom: 0;
                    }
					.content-text {
						padding: 2vw 6vw;
						color: $blackColor;
					}
				}
			}
		}
		.where {
			h1{
				font-family: $balooFont;
			}
		}
	}
	#map{
		height: 100vh;
	}
	.details {
		background-color: $pinkColor;
		color: $whiteColor;
		padding: 2vw 6vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		dt, h3 {
			font-family: $balooFont;
			font-size: 10vh;
		}
		dd {
			margin-bottom: 4vh;
			font-size: 4vh;
		}
	}
}

@media (min-width: 2369px){ 
	.home-page {
		.day-number {
			font-size: 7.5vw !important;
		}
	}
}