@media screen and (max-width: 768px) {
	.home-page {
		.first-row {
			height: 100vh !important;
			.first-col {
				height: 100vh;
			}
			.second-col{
				h1 {
					font-size: 30vw !important;
					margin-bottom: 1rem;
					.small{
						font-size: 15vw !important;
					}
				}
				h2 {
					font-size: 12vw !important;
				}
				.content-text {
					padding: 2vw 8vw !important;
					color: $whiteColor;
					font-size: 5vw !important;
				}
			}
		}
		.second-row {
			height: 100vh !important;
			.first-col {
				h1 {
					font-size: 15vw!important;
					margin-bottom: 0;
				}
				.content-text {
					padding: 2vw 6vw;
					color: $blackColor;
					font-size: 7vw !important;
				}
				.image {
					width: 90vw !important;
				}
			}
			.second-col{
				h1 {
					font-size: 15vw !important;
					margin-bottom: 1rem;
					.small{
						font-size: 15vw !important;
					}
				}
				.content-text {
					padding: 2vw 8vw !important;
					font-size: 5vw !important;
				}
			}
		}
	}
}
.home-page {
	margin-top: 70px;
	.hero-image {
		height: 100vh;
	}
	.container-desktop {
		.title {
			margin-bottom: 1rem;
		}
		.day-number {
			font-size: 15vw;
			font-family: $balooFont;
			color: $pinkColor;
		}
		.days {
			font-size: 7vw;
			font-family: $balooFont;
			color: $pinkColor;
		}
		.name {
			font-size: 7vw;
			font-family: $balooFont;
			color: $blackColor
		}
		.year {
			font-size: 7vw;
			font-family: $balooFont;
			color: $blackColor;
		}
	}
	.container-mobile{
		.title{
			font-family: $balooFont;
			color: $blackColor
		}
		.subtitle {
			font-family: $balooFont;
			color: $pinkColor
		}
	}
	.first-row {
		height: 100vh !important;
		.first-col {
			height: 100vh;
		}
		.second-col{
			background-color: $blackColor;
			height: 100vh;
			display: flex;
			align-items: center;
			h1, h2 {
				color: $whiteColor;
				font-family: $balooFont;
			}
			h1 {
				font-size: 8vw;
				margin-bottom: 0;
				.small{
					font-size: 4vw;
				}
			}
			h2 {
				font-size: 8vw;
			}
			.content-text {
				padding: 2vw 6vw;
				color: $whiteColor;
				font-size: 2vw;
			}
		}
	}
	.second-row {
		height: 100vh !important;
		.first-col {
			background-color: $whiteColor;
			height: 100vh;
			display: flex;
			align-items: center;
			h1, h2 {
				color: $blackColor;
				font-family: $balooFont;
			}
			h1 {
				font-size: 5vw;
				margin-bottom: 0;
				.small{
					font-size: 4vw;
				}
			}
			h2 {
				font-size: 8vw;
			}
			.content-text {
				padding: 2vw 6vw;
				color: $blackColor;
				font-size: 2vw;
			}
		}
		.second-col{
			background-color: $greenColor;
			height: 100vh;
			display: flex;
			align-items: center;
			h1, h2 {
				color: $blackColor;
				font-family: $balooFont;
			}
			h1 {
				font-size: 5vw;
				margin-bottom: 0;
				.small{
					font-size: 4vw;
				}
			}
			.content-text {
				padding: 2vw 6vw;
				color: $blackColor;
				font-size: 2vw;
			}
		}
	}
	.where {
		h1{
			font-family: $balooFont;
			font-size: 6vw;
		}
	}
}