// Main scss file, used to import mixins, global variables, and stylesheets for each
// component.

@import 'styles/_globals.scss';
@import '../styles/common/footer';
@import '../styles/common/_overlay-menu.scss';
@import '../styles/common/_header.scss';
@import '../styles/common/icon-detail';


.main-container {
  background-color: $mainColor;
}
.main-view {
  min-height: $mainViewHeight;
  width: 100%;
}