// Main scss file, used to import mixins, global variables, and stylesheets for each
// component.

@import 'styles/_globals.scss';
@import '../styles/features/footer';

html {
  overflow-x: hidden;
}

.main-container {
  background-color: $mainColor;
}
.main-view {
  min-height: $mainViewHeight;
  width: 100vw;
}