.footer-view {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 13vh;
  width: 100%; }
  .footer-view .icons-cont {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px outset;
    padding-top: 15px;
    width: 65%;
    min-height: 65px; }
    .footer-view .icons-cont .icon-container {
      display: flex;
      float: left;
      align-items: center;
      justify-content: center;
      border-radius: 25px;
      width: 50px;
      height: 50px;
      cursor: pointer; }
      .footer-view .icons-cont .icon-container .contact-icon {
        font-size: 24px;
        color: whitesmoke; }
    .footer-view .icons-cont #facebook {
      transition: background-color 0.3s ease, transform 0.3s ease;
      background-color: rgba(59, 89, 152, 0.7); }
      .footer-view .icons-cont #facebook:hover {
        background-color: #3b5998;
        transform: scale(1.08); }
    .footer-view .icons-cont #instagram {
      transition: background-color 0.3s ease, transform 0.3s ease;
      background-color: rgba(228, 64, 95, 0.7); }
      .footer-view .icons-cont #instagram:hover {
        background-color: #e4405f;
        transform: scale(1.08); }
    .footer-view .icons-cont #twitter {
      transition: background-color 0.3s ease, transform 0.3s ease;
      background-color: rgba(85, 172, 238, 0.7); }
      .footer-view .icons-cont #twitter:hover {
        background-color: #55acee;
        transform: scale(1.08); }
    .footer-view .icons-cont #email {
      transition: background-color 0.3s ease, transform 0.3s ease;
      background-color: rgba(221, 75, 57, 0.7); }
      .footer-view .icons-cont #email:hover {
        background-color: #dd4b39;
        transform: scale(1.08); }
  .footer-view .base-cont {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 65%;
    min-height: 30px; }
    .footer-view .base-cont .copyright {
      color: darkgray;
      font-size: 10px; }

.overlay {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  height: 100vh !important;
  left: 0;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  transition: 0.5s;
  width: 100%;
  z-index: 1; }
  .overlay .overlay-content {
    position: relative;
    text-align: center;
    top: 25%;
    width: 100%; }
  .overlay .menu-items {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center; }
    .overlay .menu-items .menu-item .selected {
      font-weight: 700; }
    .overlay .menu-items .menu-item a {
      color: #818181;
      display: block;
      padding: 8px;
      text-decoration: none;
      text-align: center;
      transition: 0.3s;
      font-size: 30px; }
    .overlay .menu-items .menu-item a:hover, .overlay .menu-items .menu-item .overlay a:focus {
      color: #f1f1f1; }
  .overlay .opened {
    width: 100%; }
  .overlay .closed {
    width: 0%; }

.header {
  position: fixed;
  width: 100%;
  height: 60px; }

.menu-icon {
  font-size: 6vh;
  color: #ffffff;
  margin: 20px 0 0 20px;
  cursor: pointer;
  align-self: flex-start; }

.section-title.hero {
  padding-top: 60px; }
  .section-title.hero * {
    color: #ffffff; }

.section-title.pink {
  background-color: #ff1b27; }

.section-title.green {
  background-color: #53e3d7; }

.footer-view {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 13vh;
  width: 100%; }
  .footer-view .icons-cont {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px outset;
    padding-top: 15px;
    width: 65%;
    min-height: 65px; }
    .footer-view .icons-cont .icon-container {
      display: flex;
      float: left;
      align-items: center;
      justify-content: center;
      border-radius: 25px;
      width: 50px;
      height: 50px;
      cursor: pointer; }
      .footer-view .icons-cont .icon-container .contact-icon {
        font-size: 24px;
        color: whitesmoke; }
    .footer-view .icons-cont #facebook {
      transition: background-color 0.3s ease, transform 0.3s ease;
      background-color: rgba(59, 89, 152, 0.7); }
      .footer-view .icons-cont #facebook:hover {
        background-color: #3b5998;
        transform: scale(1.08); }
    .footer-view .icons-cont #instagram {
      transition: background-color 0.3s ease, transform 0.3s ease;
      background-color: rgba(228, 64, 95, 0.7); }
      .footer-view .icons-cont #instagram:hover {
        background-color: #e4405f;
        transform: scale(1.08); }
    .footer-view .icons-cont #twitter {
      transition: background-color 0.3s ease, transform 0.3s ease;
      background-color: rgba(85, 172, 238, 0.7); }
      .footer-view .icons-cont #twitter:hover {
        background-color: #55acee;
        transform: scale(1.08); }
    .footer-view .icons-cont #email {
      transition: background-color 0.3s ease, transform 0.3s ease;
      background-color: rgba(221, 75, 57, 0.7); }
      .footer-view .icons-cont #email:hover {
        background-color: #dd4b39;
        transform: scale(1.08); }
  .footer-view .base-cont {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 65%;
    min-height: 30px; }
    .footer-view .base-cont .copyright {
      color: darkgray;
      font-size: 10px; }

.overlay {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  height: 100vh !important;
  left: 0;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  transition: 0.5s;
  width: 100%;
  z-index: 1; }
  .overlay .overlay-content {
    position: relative;
    text-align: center;
    top: 25%;
    width: 100%; }
  .overlay .menu-items {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center; }
    .overlay .menu-items .menu-item .selected {
      font-weight: 700; }
    .overlay .menu-items .menu-item a {
      color: #818181;
      display: block;
      padding: 8px;
      text-decoration: none;
      text-align: center;
      transition: 0.3s;
      font-size: 30px; }
    .overlay .menu-items .menu-item a:hover, .overlay .menu-items .menu-item .overlay a:focus {
      color: #f1f1f1; }
  .overlay .opened {
    width: 100%; }
  .overlay .closed {
    width: 0%; }

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: fixed;
  width: 100%; }
  .header .event-container {
    width: 25%;
    margin-left: 5%; }
    .header .event-container .event-details {
      position: absolute;
      width: inherit; }
      .header .event-container .event-details .base {
        display: flex;
        flex-flow: row wrap; }
        .header .event-container .event-details .base .left-side, .header .event-container .event-details .base .righ-side {
          display: flex;
          justify-content: center;
          width: 50%; }
        .header .event-container .event-details .base .bottom {
          display: flex;
          justify-content: center;
          width: 100%;
          height: 7px; }
          .header .event-container .event-details .base .bottom .bottom-content {
            position: absolute;
            bottom: 0; }

.icon-detail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%; }

.IDImage {
  width: 90%;
  margin: 5%; }

.blur {
  position: absolute;
  border-radius: 180px;
  top: 0;
  left: 0;
  width: 90%;
  height: 90%;
  margin: 5%;
  background-color: rgba(246, 246, 246, 0);
  transition: background-color 0.5s ease; }
  .blur:hover {
    background-color: rgba(246, 246, 246, 0.7); }
    .blur:hover + #title {
      background-color: #3b5998; }

#title {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0; }

@media screen and (max-height: 450px) {
  .hero-title {
    font-size: 16vh; } }

.home-page .hero {
  background: linear-gradient(rgba(255, 27, 39, 0.3), rgba(83, 227, 215, 0.3)), url("./resources/images/bg_image.png") center center no-repeat;
  background-size: cover;
  color: white;
  text-shadow: 1px 1px 2px black; }
  .home-page .hero .title {
    color: #ffffff;
    font-size: 12vh;
    font-weight: bold;
    line-height: .9;
    margin: 0; }
  .home-page .hero .hero-foot {
    align-self: flex-end;
    margin-bottom: 1em; }
    .home-page .hero .hero-foot .countdown {
      display: flex;
      justify-content: space-between; }
      .home-page .hero .hero-foot .countdown div {
        align-items: flex-start;
        height: 80px;
        width: 80px;
        margin-right: 20px;
        background-color: rgba(255, 27, 39, 0.7); }
  .home-page .hero .hero-subtitle {
    font-family: Baloo;
    font-size: 25px; }
  .home-page .hero .button {
    border: .1em solid white;
    color: white;
    padding: .5em .67em;
    text-decoration: none; }
  .home-page .hero .button-primary {
    background-color: white;
    color: black; }

.home-page article {
  max-width: 36em;
  margin: 0 auto;
  padding: 1em; }

.home-page .test {
  font-family: GillMedium; }

.about-page .columns.is-gapless {
  margin-bottom: 0 !important; }

.about-page .columns .title {
  background-color: #53e3d7;
  color: #ffffff;
  font-weight: 800; }

.about-page .columns .description {
  background-color: rgba(83, 227, 215, 0.3);
  font-size: 12px !important; }

.about-page .columns .column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; }

.speakers-cont {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  padding: 0 10% 0 10%; }

@font-face {
  font-family: Baloo;
  src: url(./resources/fonts/baloo_reg.ttf); }

@font-face {
  font-family: GillBold;
  src: url(./resources/fonts/gill_sans_bold.otf); }

@font-face {
  font-family: GillBook;
  src: url(./resources/fonts/gill_sans_book.otf); }

@font-face {
  font-family: GillExtraBold;
  src: url(./resources/fonts/gill_sans_extra_bold.otf); }

@font-face {
  font-family: GillLight;
  src: url(./resources/fonts/gill_sans_light.otf); }

@font-face {
  font-family: GillMedium;
  src: url(./resources/fonts/gill_sans_medium.otf); }

body {
  font-family: 'GillLight', sans-serif;
  background-color: #f6f6f6 !important; }

.main-container {
  background-color: #7f8c8d; }

.main-view {
  min-height: 87vh;
  width: 100%; }
