// Main scss file, used to import mixins, global variables, and stylesheets for each
// component.

// Global variables
@import 'styles/_globals.scss';

// Common components
@import '../styles/features/footer';
@import '../styles/common/_overlay-menu.scss';
@import '../styles/common/_navbar.scss';

// Sections
@import '../styles/sections/home/_home.scss';
@import '../styles/common/footer';
@import '../styles/common/_overlay-menu.scss';
@import '../styles/common/_header.scss';
@import '../styles/common/icon-detail';


body {
  font-family: 'Lato', sans-serif;
}

.main-container {
  background-color: $mainColor;
}
.main-view {
  min-height: $mainViewHeight;
  width: 100%;
}