// Colors
$mainColor: #7f8c8d;
$altColor: #333;
$white: #fff;

// Gradient colors
$gradient1: rgba(19, 214, 214, 0.3);
$gradient2: rgba(240, 93, 35, 0.3);

// Font family

// Sizes
$mainViewHeight: 87vh;
