// Colors
$mainColor: #7f8c8d;
$altColor: #333;
$mutedColor: #f6f6f6;
$white: #fff;

// TED Colors
$redColor: #ff2b06;
$blackColor: #000000;
$blackColorTransp3: rgba(0,0,0,0.3);
$blackColorTransp7: rgba(0,0,0,0.7);
$blackColorTransp5: rgba(0,0,0,0.5);
$blackColorTransp10: rgba(0,0,0,1);
$whiteColor: #ffffff;

// TEDxUMSA Colors
$pinkColor: rgb(255, 27, 39);
$pinkColorTransp7: rgba(255, 27, 39, 0.7);
$greenColor: rgb(83, 227, 215);
$greenColorTransp3: rgba(83, 227, 215, 0.3);
$greenColorTransp7: rgba(83, 227, 215, 0.7);

// Gradient colors
$gradient1: rgba(255, 27, 39, 0.3);
$gradient2: rgba(83, 227, 215, 0.3);

// Font family
$balooFont: Baloo;
$gillBoldFont: GillBold;
$gillBookFont: GillBook;
$gillExtraBoldFont: GillExtraBold;
$gillLightFont: GillLight;
$gillMediumFont: GillMedium;

// Sizes
$mainViewHeight: 87vh;